html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    background-color: #000;
    width: 99%;
    height: 98%;
    padding-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
  }

body {
  width: 100%;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

  /**************************************************/

#whole {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#header {
  width: 98%;
  height: 4REM;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#logo {
  width: 4REM;
}

ul#nav > li {
  display: inline-block;
  zoom:1;
  display:inline;
  
}

a.nav {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
}

a.active {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: dodgerblue !important;
  border: solid 2px white;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
}

a.nav:hover {
  background-color: dodgerblue;
  opacity:100%;
  transition: 0.5s;
}

div.card {
  border: solid 2px white !important;
  border-radius: 1rem !important;
  margin: 0.5rem;
}

#content {
  width: 100;
  height: 100%;
  background-color: dodgerblue;
  background-image: url("../img/bkgnd2.jpg") ;
  background-size: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

#frame {
  width: 75%;
  height: 75%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#heading {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#picture {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

#me {
  border-radius: 1rem;
  padding: 0px;
  width: 100%;
}

#about {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem ;
  overflow: auto;
  max-height: 700px;
}

H1 {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
}

H2 {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: 400;
  font-size: 2.5rem;
  color: dodgerblue;
}

p {
  margin: 1rem;
}

#footer {
  width: 100%;
  height: 2REM;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}