block header
    img#logo(src='/img/logowhite.png' alt="Nate's Logo")
    nav
        ul#nav
            li
                if page === 'about'
                    a.nav.active(href='/') About
                else
                    a.nav(href='/') About
            li
                if page === 'portfolio'
                    a.nav.active(href='/portfolio') Portfolio
                else
                    a.nav(href='/portfolio') Portfolio
            li
                if page === 'resume'
                    a.nav.active(href='/resume') Resume
                else
                    a.nav(href='/resume') Resume
            li
                a.nav(href='http://github.com/nateonmission') GitHub
            li
                a.nav(href='http://linkedin.com/in/nateonmission') LinkedIn