block header
    img#logo(src='/img/logowhite.png' alt="Nate's Logo")
    nav
        ul#nav
            li
                a.nav.active(href='/') About
            li
                a.nav(href='/portfolio') Portfolio
            li
                a.nav(href='/resume') Resume
            li
                a.nav(href='http://github.com/nateonmission') GitHub
            li
                a.nav(href='http://linkedin.com/in/nateonmission') LinkedIn