doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title NateOnMission
    meta(name='description' content='Who is Nate Allen')
    meta(name='author' content='Nate Allen')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../css/main.css')
  body
    #whole
      #header
        img#logo(src='/img/logowhite.png' alt="Nate's Logo")
        nav
          ul#nav
            li
              a.nav.active(href='/') About
            li
              a.nav(href='/portfolio') Portfolio
            li
              a.nav(href='/resume') Resume
            li
              a.nav(href='http://github.com/nateonmission') GitHub
            li
              a.nav(href='http://linkedin.com/in/nateonmission') LinkedIn
      #content
        #frame.card
          #picture.card
            img#me(src='../img/me2.jpg' alt='Me')
          #heading.card
            #name
              h1 J.&nbsp;Nathan&nbsp;Allen
            #handle
              h2 NateOnMission
          #about.card
            p
              | I am a full-stack developer, with experience in Python (Flask &amp; Django), JavaScript (Express &amp; React), C#, and Java. 
              | I've dabbled inb C and COBOL, and enjoy learning new tools and adding them to my toolbox.
      #footer
        p ©2021 J. Nathan Allen