doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title NateOnMission
        meta(name='description' content='Who is Nate Allen')
        meta(name='author' content='Nate Allen')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='../css/main.css')

    body
        #whole
            #header
                include includes/header
            #content
                block content
            #footer
                include includes/footer