extends layout.pug
block content
    #frame_portfolio.card
        h3 Selected Projects
        ul
            li 
                a(href='https://github.com/nateonmission/Star-Trek-Streams') Star Trek Streams 
                ul
                    li This ReactJS app pulls information from frequently updated APIs to help users find where specific Star Trek series and movies are streaming.
            li 
                a(href='https://github.com/nateonmission/Entertainment-Selector') Entertainment Selector
                ul
                    li This Java console app take a date from the user and then, reading from CSVs, returns the New York Times best selling books and the Billboard top songs for that week in JSON format.
            li 
                a(href='https://github.com/nateonmission/commodore_portfolio') Portfolio Website Demo 
                ul
                    li This is a mock-up of a portfolio website. Its purpose is to demonstrate an understanding of HTML, JavaScript, and CSS. I, also, included PHP to make it more responsive. 
            li 
                a(href='https://github.com/nateonmission/NCAAStatsProc') NCAA Graduation Statistics Processor
                ul
                    li This C# console app reads a CSV file, obtained from the NCAA website. It, then, aggregates and averages the graduation statistics of the student athletes by athletic conference, and saves it as a JSON file.
